:root {
    --background-color: #232931;
    --primary-color: #ff7575;
    --secondary-color: #FFFFFF;
    --text-color: #909090;
    --article-color: #0F1217;
    --hr-color: #2b2f36;
    --background-button-footer: #ff7575;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

.main-header{
    width: 100%;
    height: 600px;
    position: relative;
}

.nav-container {
    width: 100%;
    height: 100px;
}
.nav-container .nav-wrapper {
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.nav-container .nav-wrapper a {
   text-decoration: none;
   color: var(--secondary-color);
}
.nav-container nav ul{
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
}
.nav-container nav ul li{
    color: var(--secondary-color);
    list-style: none;
    font-size: 20px;
}

.header-main-container{
    padding-top: 60px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-title h1{
    color: var(--primary-color);
    font-family: 'Recursive';
    font-style: italic;
    font-weight: 400;
    font-size: 52px;
    margin: 30px 0px 0px;
}

.header-main-container img{
    width: 128px
}

.header-title{
    margin-top: 0;
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    color: var(--secondary-color);
    font-size: 20px;
}

header hr {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    border: 2px solid var(--hr-color);
}

.secondary-nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 18px;
    font-family: 'Recursive';
    font-weight: 500;
    font-style: italic;
    margin-top: 20px;
}

.secondary-nav ul{
    color: var(--text-color);
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    gap: 36px;
}

.secondary-nav ul li:last-child{
    color: var(--text-color); /* fallback */
	background: -webkit-linear-gradient(0deg, var(--text-color), rgba(35,40,48,0.9));
	background: linear-gradient(110deg, var(--text-color), rgba(35,40,48,0.9));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.icons-filters svg{
    margin-right: 5px;
}

/* main content section */

.section-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 65%;
    place-content: center;
    justify-items: center;
    margin: 0 auto;
    gap: 20px;
}

.article-wrapper{
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 15px;
}

.article-header{
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
}

.article-wrapper p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
}

.article-footer{
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}

.article-header img {
    width: 100%;
    height: 150px;
    max-height: 200px;
    border-radius: 30px;
    background-size: cover;
    object-fit: cover;
}

.pagination-buttons{
    width: 100%;
    height: 150px;
    grid-column-start: 1;
    grid-column-end: 4 ;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
    padding-bottom: 150px;
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Recursive';
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
}
.pagination ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 35px;
    padding: 0;
    color: var(--text-color);
}

.pagination ul li:nth-child(2){
    color: var(--primary-color);
    width: 100%;
    height: 40px;
    position: relative;
}

.pagination ul li:nth-child(2)::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: var(--primary-color);
    top: -40%;
    left: -15px;
}

.footer-main{
    position: relative;
    width: 100%;
    height: 150px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 18px;
}

.footer-main hr {
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
    border: 2px solid var(--hr-color);
}

.networks-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 30%;
    padding-top: 35px;
}

.by-wrapper, a, button{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    color: var(--secondary-color);
}

.by-wrapper a {
    text-decoration: none;
}

.by-wrapper button{
    background-color: var(--background-button-footer);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    color: var(--secondary-color);
    padding: 0 15px 0 15px;
    cursor: pointer;
}

.twitter-wrapper, a, button{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}

.twitter-wrapper button{
    background-color: var(--background-button-footer);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    color: var(--secondary-color);
    padding: 0 15px 0 15px;
    cursor: pointer;
}

.bars-icon{
    color: var(--secondary-color);
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .nav-wrapper ul {
        display:none !important;
    }

    .bars-icon {
        display: block;
        z-index: 50;
    }
    
    .secondary-nav {
        height: 145px;
        width: 80%;
        margin: 0 auto;
        padding-top: 15px;
    }
    .main-header {
        width: 90%;
        margin: 0 auto;
    }
    .nav-container .nav-wrapper {
        padding: 0;
        padding-top: 20px;
        justify-content: space-between;
    }
    .secondary-nav ul {
        color: var(--text-color);
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0;
        gap: 20px;
        height: 80%;
        padding-left: 10px;
    }

    .pagination-buttons{
        grid-column-start: 1;
        grid-column-end: 1 ;
    }
    .pagination{
        font-size: 18px;
    }
    .pagination ul{
        gap: 18px;
    }

    .footer-main{
        height: 215px;
    }
    .networks-container {
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 215px;
        gap: 30px;
        padding-top: 5px;
    }


    .by-wrapper, a, button{
        flex-flow: column wrap;
        justify-content: center;
    }
    .by-wrapper h3{
        margin-top: 0;
    }
  }